@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9ff;
}

.container {
    width: 1085px;
    background-color: white;
    padding: 50px 100px;
    box-shadow: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
    border-radius: 20px;
}

.item {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    width: 100%;
    color: #192335;
    border: 2px solid #e6e3f1;
    border-radius: 6px;
}

.item:not(:first-child) {
    margin-top: 20px;
}

.item-plus {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.item-plus .none{
    display: none;
}

.item-minus {
    display: none;
    border-top: 2px solid #e6e3f1;
    padding: 20px 30px 25px;
    font-size: 18px;
    line-height: 1.5;
    color: #6b7385;
    font-weight: 400;
}